.sorting-container {
  padding: 20px;
  background-color: #1e1e2f;
  color: white;
  height: 100vh;
  overflow: hidden;
}

.controls {
  margin-bottom: 20px;
}


.sorting-container {
  padding: 2rem;
  color: white;
  text-align: center;
}

.blocks-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.block {
  width: 50px;
  height: 50px;
  background-color: #61dafb;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  transition: 0.3s;
  color: #1e1e2f;
}

.block.active {
  background-color: #facc15; /* yellow */
}

.block.sorted {
  background-color: #4ade80; /* green */
}

.controls {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

